@font-face {
    font-family: 'Product Sans Black';
    src: url('/assets/fonts/product-sans/ProductSans-Black.ttf') format('truetype');
    /* Additional font styles */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans Light';
    src: url('/assets/fonts/product-sans/ProductSans-Light.ttf') format('truetype');
    /* Additional font styles */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans';
    src: url('/assets/fonts/product-sans/ProductSans-Regular.ttf') format('truetype');
    /* Additional font styles */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans Bold';
    src: url('/assets/fonts/product-sans/ProductSans-Bold.ttf') format('truetype');
    /* Additional font styles */
    font-weight: normal;
    font-style: normal;
}